In [ ]:
#DATA TYPES : Data types are the classification or categorization of data items. Python supports primitive data types.

In [8]:
#Numbers - integers, float, complex numbers
a = 50
print("Type of a: ", type(a)) #integer   
b = 5.0
print("\nType of b: ", type(b)) #float  
c = 8 + 8j
print("\nType of c: ", type(c)) #complex

Type of a:  <class 'int'>

Type of b:  <class 'float'>

Type of c:  <class 'complex'>

In [7]:
#Strings: Anything written inside single ('') or double quotes (" ") in python is considered as a string.
string="Hi everyone"
print(type(string))

<class 'str'>

In [2]:
'''String operations
* Slicing in Python refers to extracting a subset or specific part of the sequence
* Indexing refers to accessing a single element from an array, it is used to get slices of arrays.
* operator + is used for concatenation(join) of 2 strings
* operator * is used to print an element multiple times'''


mystring="Good morning!Edurekans.."
str_a="I like to learn Data Science"
str_b="Machine learning"
str_c="Deep learning"
#indexing
print(str_a[5])
#slicing
print(str_c[2:4])
print(mystring[5:-2])
#concatenation
print(mystring+str_a)
#repetition
print(str_b*3)

e
ep
morning!Edurekans
Good morning!Edurekans..I like to learn Data Science
Machine learningMachine learningMachine learning

In [5]:
#List - collection of objects seperated by comma enclosed within square brackets.
sample=["zero","one",2,3,4,"five"]
print(type(sample))
print(sample)

<class 'list'>
['zero', 'one', 2, 3, 4, 'five']

In [9]:
#Wilson's sales scenario - List operations
sales = map(int, input('Sales data (separated by comma):').split(','))
sales = list(sales)
#slicing
print('Sales of the week:',sales[:3])
#indexing
print('Sales of fourth day:',sales[3])
#sorting
sales.sort()
print('Sorted sales in ascending order:',sales)
print('Sorted sales in descending order:',sales[:-1])
#extending - add data(extend function adds multiple elements)
second_week=[651,752,673,85,567,750]
sales.extend(second_week)
print('sales in last two weeks:',sales)
#appending- adds a single element to the end of the list
last_day=int(input('Last day sales:'))
sales.append(last_day)
print('Sales in last two weeks(appended last day sales):',sales)
#total sales - sum
print('Total sales:',sum(sales))
#maximum sales
print('Total sales:',max(sales))
#minimum sales
print('Minimum sales:',min(sales))

Sales data (separated by comma): 123,234,456,789,888

Sales of the week: [123, 234, 456]
Sales of fourth day: 789
Sorted sales in ascending order: [123, 234, 456, 789, 888]
Sorted sales in descending order: [123, 234, 456, 789]
sales in last two weeks: [123, 234, 456, 789, 888, 651, 752, 673, 85, 567, 750]

Last day sales: 789

Sales in last two weeks(appended last day sales): [123, 234, 456, 789, 888, 651, 752, 673, 85, 567, 750, 789]
Total sales: 6757
Total sales: 888
Minimum sales: 85

In [10]:
#Tuples - Collection of objects seperated by comma enclosed within parenthesis. Tuples are immutable and fast
my_tuple=(1,3,5)
print(my_tuple)
#tuple with mixed data type
my_tuple=(1,"Edureka",4.5)
print(my_tuple)
my_tuple=('data',[1,4,7],('a','b','c'))
#replace value
my_tuple[1][2]=5
print(my_tuple)

(1, 3, 5)
(1, 'Edureka', 4.5)
('data', [1, 4, 5], ('a', 'b', 'c'))

In [2]:
#Sets - Collection of unique unordered items inside curly braces{} seperated by comma. Sets do not support indexing.
vowels={'a','e','i','o','u'}
print(type(vowels))

<class 'set'>

In [5]:
#set operations
set_a ={1,2,3,4,5,8}
set_b={5,6,7,8,9,3}
print(set_a|set_b) #union
print(set_a & set_b) #intersection
print(set_a.difference(set_b)) #difference
print(set_a.symmetric_difference(set_b)) #symmetric difference

{1, 2, 3, 4, 5, 6, 7, 8, 9}
{8, 3, 5}
{1, 2, 4}
{1, 2, 4, 6, 7, 9}

In [6]:
#Dictionary - Collection of objects as a KEY_VALUE pair. Each key and its value is seperated by colon(:)
emp_data={'Name':'James', 'Age':34,'Department':'Finance'}
print(type(emp_data))

<class 'dict'>

In [12]:
#dictionary operations
keys=['Name','ID','Class']
my_dict=dict.fromkeys(keys) #fromkeys:creates a new dictionary from the given iterable (string, list, set, tuple) as keys and with the specified value.
print(my_dict)
my_dict['Name']="Goku"
my_dict['ID']=2345
my_dict['Class']="B"
print(my_dict.items())
print(my_dict.keys())
new_dict={'Name':'Sherlock','ID':789,'Class':'C'}
#Update
my_dict.update(new_dict)
print(my_dict.values())
#pop() removes element by returning corresponding values
#popitem() removes arbitrary item and return it.
my_dict={'Name':'Sherlock','age':26}
my_dict['age']=28
print(my_dict)
#insertion
my_dict['address']='Bangalore'
print(my_dict)
#deletion
print(my_dict.pop('address'))
print(my_dict.popitem())
print(my_dict)

{'Name': None, 'ID': None, 'Class': None}
dict_items([('Name', 'Goku'), ('ID', 2345), ('Class', 'B')])
dict_keys(['Name', 'ID', 'Class'])
dict_values(['Sherlock', 789, 'C'])
{'Name': 'Sherlock', 'age': 28}
{'Name': 'Sherlock', 'age': 28, 'address': 'Bangalore'}
Bangalore
('age', 28)
{'Name': 'Sherlock'}