In [49]:
#FUNCTIONS - Block of code which only runs when it is called. You can pass data known as parameters.
def example():
    print("Welcome to DSML Class")

In [39]:
#function call
example()

Welcome to DSML Class

In [51]:
#Example -2
def print_name(str):
    print("Welcome to python,",str)

str = input("Enter your name")
print_name(str) #function call

Enter your name Antony

Welcome to python, Antony

In [53]:
#The RETURN statement- terminates the execution of a function and returns control to the calling function
def add(a,b):
    sum=a+b
    return(sum) #return statement

num1=input("Enter first number")
num2= input("Enter second number")
n1= int(num1)
n2=int(num2)
ans=add(n1,n2) #function call
print("Sum is:",ans)

Enter first number 3
Enter second number 4

Sum is: 7

In [42]:
#Example-3
def sum(num1,num2):
    return num1+num2
def Average(num1,num2):
    return (num1+num2)/2
def F1(num1,num2):
  add= sum(num1,num2)
  avg = Average(num1,num2)
  return add,avg

In [43]:
result1,result2 = F1(10,20)
print(result1, result2)

30 15.0

In [35]:
#Example-4
def celcius_to_farhn(temp):
    return 9/5*temp+32

In [36]:
celcius_temperature=30
farenheit_temperature=celcius_to_farhn(celcius_temperature)
print(f"{celcius_temperature} celcius is equal to {farenheit_temperature}")

30 celcius is equal to 86.0

In [37]:
celcius_to_farhn(20)

68.0

In [67]:
for i in range(0,99,4):
    print(i,end=' ')

0 4 8 12 16 20 24 28 32 36 40 44 48 52 56 60 64 68 72 76 80 84 88 92 96

In [1]:
a=30
def sum(b):
    x=30
    sum=b+x
    print("Addition is",sum)
sum(3)
print('Value of x',x)

Addition is 33

NameError: name 'x' is not defined

In [70]:
#Function arguements
#Keyword arguement
def substring1(start_index,stop_index,str1):
    print("Substring is:",str1[start_index:stop_index])
substring1(str1="Example of Keyword arguement",start_index=10,stop_index=30)

Substring is:  Keyword arguement

In [72]:
#Default arguements
def info(name, age=30):
    print("Name:",name)
    print("Age:",age)
    return()
info(age=25,name="John")
info(name="Micheal",age=40)

Name: John
Age: 25
Name: Micheal
Age: 40

()

In [27]:
#Variable length arguements
def purchaseinfo(product1,product2):
    print("products purchased:")
    print(product1,product2)
    return()
purchaseinfo("Chocolates","Milk")
purchaseinfo("cookies")

products purchased:
Chocolates Milk

TypeError: purchaseinfo() missing 1 required positional argument: 'product2'

In [28]:
def purchaseinfo(product1,*products):
    print("products purchased:")
    print(product1)
    for item in products:
        print(item)
    return()
purchaseinfo("Chocolates","Milk")
purchaseinfo("cookies")

products purchased:
Chocolates
Milk
products purchased:
cookies

()

In [29]:
#Lambda function
#example - python function to filter an even number from a list.
my_list=[1,5,4,6,11,3,12]
new_list=[] #initialising new list
for num in my_list:
    if num%2==0:
        new_list.append(num)
print(new_list)

[4, 6, 12]

In [30]:
#using filter and lambda function
my_list=[1,5,4,6,11,3,12]
new_list1=list(filter(lambda num:(num%2==0),my_list))
print(new_list1)

[4, 6, 12]

In [48]:
#using map function
my_list=[1,7,22,97,54,62,77,23,73,61]
new_list=list(map(lambda x:x*2,my_list))
print(new_list)

[2, 14, 44, 194, 108, 124, 154, 46, 146, 122]