#Data Structures in Pandas

###Demo 2: Functionality of Pandas DataFrame

In this demo, you will be shown how to use dataFrames to represent data using Python.

##### Question 1:

Perform the following Pandas Operations

    1) From the raw data below create a data frame
    
    'first_name': ['Jason', 'Molly', 'Tina', 'Jake', 'Amy'], 
    'last_name': ['Miller', 'Jacobson', ".", 'Milner', 'Cooze'], 
    'age': [42, 52, 36, 24, 73], 
    'preTestScore': [4, 24, 31, ".", "."],
    'postTestScore': ["25,000", "94,000", 57, 62, 70]

    2) Save the dataframe into a csv file as example.csv
    3) Read the example.csv and print the data frame
    4) Read the example.csv without column heading
    5) Read the example.csv and make the index columns as 'First Name’ and 'Last   Name'
    6) Read the first 3 rows of the dataFrame and print the dataFrame
    7) The column 'postTestScore' has "," in their values around numbers to represent thousands. Load example.csv file which ignores the default behaviour of comma while reading the 'postTestScore' column

In [2]:
# Import the required libraries

import pandas as pd
import numpy as np

# 1.1

raw_data = {'first_name': ['Jason', 'Molly', 'Tina', 'Jake', 'Amy'],
        'last_name': ['Miller', 'Jacobson', ".", 'Milner', 'Cooze'],
        'age': [42, 52, 36, 24, 73],
        'preTestScore': [4, 24, 31, ".", "."],
        'postTestScore': ["25,000", "94,000", 57, 62, 70]}
df = pd.DataFrame(raw_data, columns = ['first_name', 'last_name', 'age', 'preTestScore', 'postTestScore'])
print(df)

  first_name last_name  age preTestScore postTestScore
0      Jason    Miller   42            4        25,000
1      Molly  Jacobson   52           24        94,000
2       Tina         .   36           31            57
3       Jake    Milner   24            .            62
4        Amy     Cooze   73            .            70

In [3]:
#Import data
#Export data

In [4]:
# 1.2 Save the dataFrame into a CSV file

df.to_csv('example.csv')

In [5]:
# 1.3 Read data from CSV and print the dataFrame

df = pd.read_csv('example.csv', header=0)
print(df)

   Unnamed: 0 first_name last_name  age preTestScore postTestScore
0           0      Jason    Miller   42            4        25,000
1           1      Molly  Jacobson   52           24        94,000
2           2       Tina         .   36           31            57
3           3       Jake    Milner   24            .            62
4           4        Amy     Cooze   73            .            70

In [6]:
# 1.4 Read data from CSV without headers

df = pd.read_csv('example.csv', header=None)
print(df)

     0           1          2    3             4              5
0  NaN  first_name  last_name  age  preTestScore  postTestScore
1  0.0       Jason     Miller   42             4         25,000
2  1.0       Molly   Jacobson   52            24         94,000
3  2.0        Tina          .   36            31             57
4  3.0        Jake     Milner   24             .             62
5  4.0         Amy      Cooze   73             .             70

In [7]:
# 1.5 Read the data again with headers and make the index columns as 'First Name’ and 'Last Name'

df = pd.read_csv('example.csv', header=0, index_col=['First Name', 'Last Name'], 
                 names=['UID', 'First Name', 'Last Name', 'Age', 'Pre-Test Score', 'Post-Test Score'])
print(df)

                      UID  Age Pre-Test Score Post-Test Score
First Name Last Name
Jason      Miller       0   42              4          25,000
Molly      Jacobson     1   52             24          94,000
Tina       .            2   36             31              57
Jake       Milner       3   24              .              62
Amy        Cooze        4   73              .              70

In [8]:
# 1.6 Read the first 3 rows of the dataFrame and print the dataFrame

df = pd.read_csv('example.csv', nrows=3)
print(df)

   Unnamed: 0 first_name last_name  age  preTestScore postTestScore
0           0      Jason    Miller   42             4        25,000
1           1      Molly  Jacobson   52            24        94,000
2           2       Tina         .   36            31            57

In [10]:
# 1.7
df = pd.read_csv('example.csv',  thousands=',')
print(df)

   Unnamed: 0 first_name last_name  age preTestScore  postTestScore
0           0      Jason    Miller   42            4          25000
1           1      Molly  Jacobson   52           24          94000
2           2       Tina         .   36           31             57
3           3       Jake    Milner   24            .             62
4           4        Amy     Cooze   73            .             70

In [11]:
import pandas as pd

# Define a custom converter function to handle thousands separator for the 'posttestscores' column
def convert_posttestscores(value):
    try:
        # Convert the value to a float after removing commas
        return float(value.replace(',', ''))
    except ValueError:
        # If conversion fails, return the original value
        return value
# Read the CSV file, applying the custom converter to the 'posttestscores' column
df = pd.read_csv('example.csv', converters={'posttestscores': convert_posttestscores})
# Print the DataFrame to inspect the data
print(df)

   Unnamed: 0 first_name last_name  age preTestScore postTestScore
0           0      Jason    Miller   42            4        25,000
1           1      Molly  Jacobson   52           24        94,000
2           2       Tina         .   36           31            57
3           3       Jake    Milner   24            .            62
4           4        Amy     Cooze   73            .            70

##### Question 2:

    1) Read diabetes data from a CSV file
    2) Print the first 10 rows and last 5 of the dataFrame
    3) Display a summary of the data in dataFrame
    4) Display summary of only Glucose column
    5) Take a sample of the data using first 15 rows
    6) Add a new column "New_Age" in the dataframe by adding 1 to values in existing "Age" column
    7) Drop the column "SkinThickness" as it is not relevant to our analysis
    8) Filter rows where patient's age is greater than or equal to 50 since such patients have high possibility of having diabetes. Use column New_Age. Incorporate another condition for filtering rows as Outcome = 1.
    9) Sort values in the dataFrame df4 by "Glucose" in descending order

In [ ]:
# 1. Read diabetes data from a CSV file
import pandas as pd
df = pd.read_csv('diabetes.csv')


# 2.Print the first 10 rows of the dataFrame
print(df.head(10))

#print(df["BloodPressure"].head(5))

In [ ]:
#3. Print the last 5 rows of the dataFrame
print(df.tail())

In [ ]:
# 4.Display a summary of the data in dataFrame
print(df.describe())

In [ ]:
# Display summary of only Glucose column
print(df['Glucose'].describe())
#print(df.Glucose.describe())

In [ ]:
#Selection : 1.Label based 2.Index based 3.Conditional statement
#In Pandas, iloc, loc, and at are three different ways to access and modify data in a DataFrame.

In [ ]:
#at:at is used for fast access to a single scalar value in a DataFrame
df2=df.at[2,'Age']
#df2=df.at[2,'Age']=35
df2

In [ ]:
# 5.Take a sample of the data using first 15 rows
df2 = df.iloc[:15] #iloc (Integer-location based indexing):meaning you provide the row and column indices using integers.
print(df2)

In [ ]:
#loc:loc is label-based indexing, meaning you provide the row and column labels.
df2=df.loc[5:15,['Glucose','BloodPressure']]
print(df2)

In [ ]:
#conditional 
df2=df[df["BloodPressure"]>70]
df2

In [ ]:
# 6. Add a new column "New_Age" in the dataframe by adding 1 to values in existing "Age" column
df2['New_Age']=df['Age'] + 1
print(df2)

In [ ]:
#7. Drop the column "SkinThickness" as it is not relevant to our analysis

df3 = df2.drop(['SkinThickness'], axis=1)
print(df3.head())

In [ ]:
# 8.Filter rows where patient's age is greater than or equal to 50 since such patients have high possibility of having diabetes. 
# Use column New_Age

df3[df3['New_Age']>= 50]
df3

In [ ]:
# Incorporate another condition for filtering rows as Outcome is '1'

df4 = df3[(df3['New_Age']>= 50) & (df3['Outcome'] == 1)]
df4

In [ ]:
#9. Sort values in the dataFrame df4 by "Glucose" in descending order

df4.sort_values(by=['Glucose'], ascending = False)

##### Conclusion: This code demonstrates how to create dataFrames in pandas and use various functionality of dataFrames