Concatenate, Merge Data and Joins

In [1]:
import pandas as pd

In [2]:
#Concatenation
Df1=pd.DataFrame({
    'id':[1,2,3,4,5],
    'Name':['Alex','Amy','Allen','Alice','Ayong'],
    'Subject_id':['sub1','sub2','sub4','sub6','sub5']})
Df2=pd.DataFrame({
    'id':[1,2,3,4,5],
    'Name':['Billy','Brian','Bran','Bryce','Betty'],
    'Subject_id':['sub2','sub4','sub3','sub6','sub5']})
df3=pd.concat([Df1,Df2])
print(df3)

   id   Name Subject_id
0   1   Alex       sub1
1   2    Amy       sub2
2   3  Allen       sub4
3   4  Alice       sub6
4   5  Ayong       sub5
0   1  Billy       sub2
1   2  Brian       sub4
2   3   Bran       sub3
3   4  Bryce       sub6
4   5  Betty       sub5

In [3]:
#Merging and joining of data frames
import pandas as pd
left=pd.DataFrame({
    'id':[1,2,3,4,5],
    'Name':['Alex','Amy','Allen','Alice','Ayong'],
    'Subject_id':['sub1','sub2','sub4','sub6','sub5']})
right=pd.DataFrame({
    'id':[1,2,3,4,5],
    'Name':['Billy','Brian','Bran','Bryce','Betty'],
    'Subject_id':['sub2','sub4','sub3','sub6','sub5']})
print(left)
print(right)

   id   Name Subject_id
0   1   Alex       sub1
1   2    Amy       sub2
2   3  Allen       sub4
3   4  Alice       sub6
4   5  Ayong       sub5
   id   Name Subject_id
0   1  Billy       sub2
1   2  Brian       sub4
2   3   Bran       sub3
3   4  Bryce       sub6
4   5  Betty       sub5

In [4]:
#Merge two dataframes on a key
import pandas as pd
print(pd.merge(left,right,on='id'))

   id Name_x Subject_id_x Name_y Subject_id_y
0   1   Alex         sub1  Billy         sub2
1   2    Amy         sub2  Brian         sub4
2   3  Allen         sub4   Bran         sub3
3   4  Alice         sub6  Bryce         sub6
4   5  Ayong         sub5  Betty         sub5

In [5]:
#Merge Two dataframes on multiple keys
import pandas as pd
left=pd.DataFrame({
    'id':[1,2,3,4,5],
    'Name':['Alex','Amy','Allen','Alice','Ayong'],
    'Subject_id':['sub1','sub2','sub4','sub6','sub5']})
right=pd.DataFrame({
    'id':[1,2,3,4,5],
    'Name':['Billy','Brian','Bran','Bryce','Betty'],
    'Subject_id':['sub2','sub4','sub3','sub6','sub5']})
print(pd.merge(left,right,on=['id','Subject_id']))

   id Name_x Subject_id Name_y
0   4  Alice       sub6  Bryce
1   5  Ayong       sub5  Betty

In [7]:
#left and right join
import pandas as pd
left=pd.DataFrame({
    'id':[1,2,3,4,5],
    'Name':['Alex','Amy','Allen','Alice','Ayong'],
    'Subject_id':['sub1','sub7','sub4','sub6','sub5']})
right=pd.DataFrame({
    'id':[1,2,3,4,5],
    'Name':['Billy','Brian','Bran','Bryce','Betty'],
    'Subject_id':['sub2','sub4','sub3','sub6','sub5']})
print(pd.merge(left,right,on=['Subject_id'],how='left')) #left outer join

   id_x Name_x Subject_id  id_y Name_y
0     1   Alex       sub1   NaN    NaN
1     2    Amy       sub7   NaN    NaN
2     3  Allen       sub4   2.0  Brian
3     4  Alice       sub6   4.0  Bryce
4     5  Ayong       sub5   5.0  Betty

In [8]:
print(pd.merge(left,right,on=['Subject_id'],how='right')) #Right outer join

   id_x Name_x Subject_id  id_y Name_y
0   NaN    NaN       sub2     1  Billy
1   3.0  Allen       sub4     2  Brian
2   NaN    NaN       sub3     3   Bran
3   4.0  Alice       sub6     4  Bryce
4   5.0  Ayong       sub5     5  Betty

In [9]:
print(pd.merge(left,right,on=['Subject_id'],how='outer')) #outer join

   id_x Name_x Subject_id  id_y Name_y
0   1.0   Alex       sub1   NaN    NaN
1   NaN    NaN       sub2   1.0  Billy
2   NaN    NaN       sub3   3.0   Bran
3   3.0  Allen       sub4   2.0  Brian
4   5.0  Ayong       sub5   5.0  Betty
5   4.0  Alice       sub6   4.0  Bryce
6   2.0    Amy       sub7   NaN    NaN

In [10]:
print(pd.merge(left,right,on=['Subject_id'],how='inner')) #inner join

   id_x Name_x Subject_id  id_y Name_y
0     3  Allen       sub4     2  Brian
1     4  Alice       sub6     4  Bryce
2     5  Ayong       sub5     5  Betty